h1 {
  color: green;
}

body {
  text-align: center;
  margin: 0;
}

#select_reference {
  max-width: 500px;
}

div.ag-theme-alpine div.ag-row {
  --ag-background-color: #eff3fa;
  font-size: 12px !important;
  --ag-widget-horizontal-spacing: 10px;
  white-space: normal !important;
}
.ag-header{
  --ag-header-column-resize-handle-display: block;
  --ag-header-background-color: #c4e4f3;
  white-space: normal !important;
}
.ag-theme-alpine {
  white-space: normal !important;
}